main {
    background-color: #fff;
    width: 100vw;
    padding-top: 15vh;
    height: calc(100vh - 56px);
  }
  
  .card img {
    width: 100px;
    margin: 20px;
    overflow: hidden;
    border-radius: 6px;
  }
  
  h3 {
    display: block;
    font-size: 20px;
    margin: auto;
    font-size: 2.5em;
    text-transform: uppercase;
  }
  
  